<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
    <head>
        <title th:text="#{email.reset.title}">Development Test password reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.reset.text1}">
            Para sua conta de Teste de desenvolvimento, foi solicitada uma redefinição de senha, clique no URL abaixo para redefini-la:
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/graphql?query=%7BfinishPasswordReset:%7Bkey:${user.resetKey}%20newPassword:newPassword%7D%7D|})" th:href="${url}"
            th:text="${url}">Login link</a>
        </p>
        <p>
            <span th:text="#{email.reset.text2}">Alan, </span>
            <br/>
            <em th:text="#{email.signature}">JHipster.</em>
        </p>
    </body>
</html>
